.headings {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

#heading-cards {
  width: 400px;
  margin: 50px 10px;
  justify-content: center;
  text-align: center;
}

#dogs {
  display: flex;

}
#collie-cards {
  margin: 10px 5px;
}